%p
	%h1 Hello
	-if user_signed_in?
		=image_tag avatar_url(current_user)
		%li{:class=> "round-image-50" } 
			=image_tag current_user.avatar.url(:thumb)
		%br
		=current_user.email

	-else
		Guest

	=link_to 'My Blog', controller: 'articles' 




