<hr>
<div class="panel-footer" align="center">
	<p>&copy; Company | Privacy | Terms</p>
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</footer>
</div>